<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TBG"
        tools:targetApi="31">
        <activity
            android:name=".AirportBetweenArriveActivity"
            android:exported="false" />
        <activity
            android:name=".AirportBetweenStartActivity"
            android:exported="false" />
        <activity
            android:name=".AirportOnewayArriveActivity"
            android:exported="false" />
        <activity
            android:name=".AirportOnewayStartActivity"
            android:exported="false" />
        <activity
            android:name=".BusBetweenArriveActivity"
            android:exported="false" />
        <activity
            android:name=".ItemSubwayArriveActivity"
            android:exported="false" />
        <activity
            android:name=".BusBetweenStartActivity"
            android:exported="false" />
        <activity
            android:name=".BusOnewayArriveActivity"
            android:exported="false" />
        <activity
            android:name=".BusOnewayStartActivity"
            android:exported="false" />
        <activity
            android:name=".BusBetweenActivity"
            android:exported="false" />
        <activity
            android:name=".AirportBetweenActivity"
            android:exported="false" />
        <activity
            android:name=".AirportOnewayActivity"
            android:exported="false" />
        <activity
            android:name=".TrainBetweenActivity"
            android:exported="false" />
        <activity
            android:name=".TrainOnewayArriveActivity"
            android:exported="false" />
        <activity
            android:name=".TrainBetweenStartActivity"
            android:exported="false" />
        <activity
            android:name=".Railroad2CalendarActivity"
            android:exported="false" />
        <activity
            android:name=".InformationActivity"
            android:exported="false" />
        <activity
            android:name=".ReservePage1Activity"
            android:exported="false" />
        <activity
            android:name=".BusOnewayActivity"
            android:exported="false" />
        <activity
            android:name=".TrainOnewayStartActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".TrainBetweenArriveActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Register2Activity"
            android:exported="false" />
        <activity
            android:name=".TrainOnewayActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>